 ERROR  Warning: Each child in a list should have a unique "key" prop.

Check the render method of `_default`. See https://reactjs.org/link/warning-keys for more information.
    at ListItem (http://localhost:8081/index.bundle//&platform=android&dev=true&lazy=true&minify=false&app=fun.upup.musicfree&modulesOnly=false&runModule=true&excludeSource=true&sourcePaths=url-server:270289:38)
    in _default (created by SetUserVariables)
    in SetUserVariables (created by Panels)
    in Panels
    in EnsureSingleNavigator
    in BaseNavigationContainer
    in ThemeProvider
    in NavigationContainerInner (created by Pages)
    in RNCSafeAreaProvider (created by SafeAreaProvider)
    in SafeAreaProvider (created by Pages)
    in RNGestureHandlerRootView (created by GestureHandlerRootView)
    in GestureHandlerRootView (created by Pages)
    in ErrorBoundary (created by Pages)
    in Pages
    in RCTView (created by View)
    in View (created by AppContainer)
    in RCTView (created by View)
    in View (created by AppContainer)
    in AppContainer
    in MusicFree(RootComponent)
 WARN  [Reanimated] Tried to modify key `current` of an object which has been already passed to a worklet. See
https://docs.swmansion.com/react-native-reanimated/docs/guides/troubleshooting#tried-to-modify-key-of-an-object-which-has-been-converted-to-a-shareable
for more details.
 WARN  [Reanimated] Tried to modify key `current` of an object which has been already passed to a worklet. See
https://docs.swmansion.com/react-native-reanimated/docs/guides/troubleshooting#tried-to-modify-key-of-an-object-which-has-been-converted-to-a-shareable
for more details.
 WARN  [Reanimated] Tried to modify key `current` of an object which has been already passed to a worklet. See
https://docs.swmansion.com/react-native-reanimated/docs/guides/troubleshooting#tried-to-modify-key-of-an-object-which-has-been-converted-to-a-shareable
for more details.


 LOG  换源候选列表 {"candidates": ["好听轻音乐", "bilibili", "网易音乐", "WebDAV", "爱听", "6yueting", "小枸音乐", "5sing", "小秋音乐", "元力MG", "小蜗音乐", "酷狗", "元力KW", "元力WY", "快手", "udio", "猫耳FM"], "target": {"$": undefined, "320hash": "B09AC6BEAFF6338F6FB755E18A2BE849", "ResFileHash": "", "album": "年少有为", "album_audio_id": 0, "album_id": "8873395", "artist": "李荣浩", "artwork": "http://imge.kugou.com/stdmusic/1080/20210113/20210113161427791277.jpg", "duration": 279, "id": "3A5C1D6CDABB2FDA813F8F8B7E4D08B0", "platform": "元力KG", "sqhash": "680D31E35CE726C4CE7FDA9C303BADCD", "title": "年少有为"}}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐"], "plugin": "好听轻音乐", "remainingTimeMs": 14995, "target": {"$": undefined, "320hash": "B09AC6BEAFF6338F6FB755E18A2BE849", "ResFileHash": "", "album": "年少有为", "album_audio_id": 0, "album_id": "8873395", "artist": "李荣浩", "artwork": "http://imge.kugou.com/stdmusic/1080/20210113/20210113161427791277.jpg", "duration": 279, "id": "3A5C1D6CDABB2FDA813F8F8B7E4D08B0", "platform": "元力KG", "sqhash": "680D31E35CE726C4CE7FDA9C303BADCD", "title": "年少有为"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "好听轻音乐", "resultCount": 0}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili"], "plugin": "bilibili", "remainingTimeMs": 14671, "target": {"$": undefined, "320hash": "B09AC6BEAFF6338F6FB755E18A2BE849", "ResFileHash": "", "album": "年少有为", "album_audio_id": 0, "album_id": "8873395", "artist": "李荣浩", "artwork": "http://imge.kugou.com/stdmusic/1080/20210113/20210113161427791277.jpg", "duration": 279, "id": "3A5C1D6CDABB2FDA813F8F8B7E4D08B0", "platform": "元力KG", "sqhash": "680D31E35CE726C4CE7FDA9C303BADCD", "title": "年少有为"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "bilibili", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili", "网易音乐"], "plugin": "网易音乐", "remainingTimeMs": 13970, "target": {"$": undefined, "320hash": "B09AC6BEAFF6338F6FB755E18A2BE849", "ResFileHash": "", "album": "年少有为", "album_audio_id": 0, "album_id": "8873395", "artist": "李荣浩", "artwork": "http://imge.kugou.com/stdmusic/1080/20210113/20210113161427791277.jpg", "duration": 279, "id": "3A5C1D6CDABB2FDA813F8F8B7E4D08B0", "platform": "元力KG", "sqhash": "680D31E35CE726C4CE7FDA9C303BADCD", "title": "年少有为"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "网易音乐", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili", "网易音乐", "WebDAV"], "plugin": "WebDAV", "remainingTimeMs": 13469, "target": {"$": undefined, "320hash": "B09AC6BEAFF6338F6FB755E18A2BE849", "ResFileHash": "", "album": "年少有为", "album_audio_id": 0, "album_id": "8873395", "artist": "李荣浩", "artwork": "http://imge.kugou.com/stdmusic/1080/20210113/20210113161427791277.jpg", "duration": 279, "id": "3A5C1D6CDABB2FDA813F8F8B7E4D08B0", "platform": "元力KG", "sqhash": "680D31E35CE726C4CE7FDA9C303BADCD", "title": "年少有为"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "WebDAV", "resultCount": 0}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili", "网易音乐", "WebDAV", "爱听"], "plugin": "爱听", "remainingTimeMs": 13467, "target": {"$": undefined, "320hash": "B09AC6BEAFF6338F6FB755E18A2BE849", "ResFileHash": "", "album": "年少有为", "album_audio_id": 0, "album_id": "8873395", "artist": "李荣浩", "artwork": "http://imge.kugou.com/stdmusic/1080/20210113/20210113161427791277.jpg", "duration": 279, "id": "3A5C1D6CDABB2FDA813F8F8B7E4D08B0", "platform": "元力KG", "sqhash": "680D31E35CE726C4CE7FDA9C303BADCD", "title": "年少有为"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "爱听", "resultCount": 0}
 LOG  音源为空，播放失败 undefined
 LOG  换源候选列表 {"candidates": ["好听轻音乐", "bilibili", "网易音乐", "WebDAV", "爱听", "6yueting", "小枸音乐", "5sing", "小秋音乐", "元力MG", "小蜗音乐", "酷狗", "元力KG", "元力KW", "元力WY", "快手", "udio", "猫耳FM"], "target": {"$": undefined, "album": "", "albumid": 0, "albummid": "", "artist": "毛不易", "artwork": undefined, "duration": 270, "id": 642024025, "lrc": undefined, "platform": "元力QQ", "songmid": "000IAyWR3dbL9X", "title": "平凡的一天"}}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐"], "plugin": "好听轻音乐", "remainingTimeMs": 14995, "target": {"$": undefined, "album": "", "albumid": 0, "albummid": "", "artist": "毛不易", "artwork": undefined, "duration": 270, "id": 642024025, "lrc": undefined, "platform": "元力QQ", "songmid": "000IAyWR3dbL9X", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "好听轻音乐", "resultCount": 0}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili"], "plugin": "bilibili", "remainingTimeMs": 14652, "target": {"$": undefined, "album": "", "albumid": 0, "albummid": "", "artist": "毛不易", "artwork": undefined, "duration": 270, "id": 642024025, "lrc": undefined, "platform": "元力QQ", "songmid": "000IAyWR3dbL9X", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "bilibili", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili", "网易音乐"], "plugin": "网易音乐", "remainingTimeMs": 13924, "target": {"$": undefined, "album": "", "albumid": 0, "albummid": "", "artist": "毛不易", "artwork": undefined, "duration": 270, "id": 642024025, "lrc": undefined, "platform": "元力QQ", "songmid": "000IAyWR3dbL9X", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "网易音乐", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili", "网易音乐", "WebDAV"], "plugin": "WebDAV", "remainingTimeMs": 13405, "target": {"$": undefined, "album": "", "albumid": 0, "albummid": "", "artist": "毛不易", "artwork": undefined, "duration": 270, "id": 642024025, "lrc": undefined, "platform": "元力QQ", "songmid": "000IAyWR3dbL9X", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "WebDAV", "resultCount": 0}
 LOG  尝试换源候选 {"attempted": ["好听轻音乐", "bilibili", "网易音乐", "WebDAV", "爱听"], "plugin": "爱听", "remainingTimeMs": 13402, "target": {"$": undefined, "album": "", "albumid": 0, "albummid": "", "artist": "毛不易", "artwork": undefined, "duration": 270, "id": 642024025, "lrc": undefined, "platform": "元力QQ", "songmid": "000IAyWR3dbL9X", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "爱听", "resultCount": 0}
 LOG  音源为空，播放失败 undefined
 LOG  播放 插件播放
 LOG  获取音源成功 {"$": undefined, "aid": 864110615, "album": "BV1L54y1N73C", "alias": undefined, "artist": "知己音乐", "artwork": "http://i1.hdslb.com/bfs/archive/c120f2b10a5570ee69e82a17b63643a8388796b0.jpg", "bvid": "BV1L54y1N73C", "date": "2023-02-08", "duration": 277, "headers": {"accept": "*/*", "accept-encoding": "gzip, deflate, br", "connection": "keep-alive", "host": "xy223x94x121x135xy.mcdn.bilivideo.cn:8082", "referer": "https://www.bilibili.com/video/BV1L54y1N73C", "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63"}, "id": "BV1L54y1N73C", "platform": "bilibili", "tags": ["毛不易", "无损音质", "我的恋爱树洞", "情感", "Lyrics", "平凡的一天"], "title": "平凡的一天 - 毛不易 -【Hi-Res无损音质】-温柔的声音", "url": "https://xy223x94x121x135xy.mcdn.bilivideo.cn:8082/v1/resource/upgcxcode/05/07/999190705/999190705-1-30232.m4s?agrr=1&build=0&buvid=&bvc=vod&bw=105414&deadline=1792061243&dl=0&e=ig8euxZM2rNcNbdlhoNvNC8BqJIzNbfqXBvEqxTEto8BTrNvN0GvT90W5JZMkX_YN0MvXg8gNEV4NC8xNEV4N03eN0B5tZlqNxTEto8BTrNvNeZVuJ10Kj_g2UB02J0mN0B5tZlqNCNEto8BTrNvNC7MTX502C8f2jmMQJ6mqF2fka1mqx6gqj0eN0B599M%3D&f=u_0_0&gen=playurlv3&lrs=-1&mid=0&nbs=1&nettype=0&og=ali&oi=0x24098970118918c4c82127fffe82976e&orderid=0%2C3&os=estgoss&platform=pc&qn_dyeid=965f8e85a72f2433001b5ca96ad0931b&sign=a08f6b&traceid=trHUvuzOsqJDZV_0_e_N&uipk=5&uparams=e%2Cog%2Cdeadline%2Cplatform%2Ctrid%2Coi%2Cnbs%2Cgen%2Cos%2Cmid%2Cuipk&upsig=42ed4e4c2365c605cc81f8247ccedfa3", "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63"}
 LOG  播放 插件播放
 LOG  获取音源成功 {"$": undefined, "album": "耳朵", "albumId": 73914415, "artist": "李荣浩", "artistId": "4292", "artwork": "http://p2.music.126.net/tt8xwK-ASC2iqXNUXYKoDQ==/109951163606377163.jpg", "duration": 279196, "headers": undefined, "id": "1293886117", "platform": "网易音乐", "qualities": {"high": {"size": 55601022}, "low": {"size": 4468027}, "standard": {"size": 11170003}}, "rawLrc": undefined, "rid": undefined, "title": "年少有为", "type": "1", "url": "https://iot202.music.126.net/Yml6PWlvdCZjaGFubmVsPW5ldGVhc2Umc2NlbmU9YW5kcmNhcg/20261015171312/a38a059d86fd87af584afe589a0c2b94/jd-musicrep-ts/b68e/758f/1807/1e284b53a5984d546755d63cb560bd1f.mp3", "userAgent": undefined, "vid": 5965802}

  开始搜索 {"_platform": "酷狗", "page": 1, "query": "平凡的一天", "searchType": "music"}
 LOG  开始搜索 {"_platform": "小蜗音乐", "page": 1, "query": "平凡的一天", "searchType": "music"}
 LOG  开始搜索 {"_platform": "元力MG", "page": 1, "query": "平凡的一天", "searchType": "music"}
 LOG  换源候选列表 {"candidates": ["元力QQ", "元力KG", "bilibili", "网易音乐", "WebDAV", "爱听", "好听轻音乐", "6yueting", "小枸音乐", "5sing", "小秋音乐", "元力MG", "小蜗音乐", "酷狗", "元力WY", "快手", "udio", "猫耳FM"], "target": {"$": undefined, "album": "", "albumId": "0", "artist": "毛不易", "artistId": "0", "artwork": undefined, "formats": undefined, "id": "629609937", "platform": "元力KW", "title": "平凡的一天"}}
 LOG  尝试换源候选 {"attempted": ["元力QQ"], "plugin": "元力QQ", "remainingTimeMs": 14994, "target": {"$": undefined, "album": "", "albumId": "0", "artist": "毛不易", "artistId": "0", "artwork": undefined, "formats": undefined, "id": "629609937", "platform": "元力KW", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "元力QQ", "resultCount": 0}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG"], "plugin": "元力KG", "remainingTimeMs": 14501, "target": {"$": undefined, "album": "", "albumId": "0", "artist": "毛不易", "artistId": "0", "artwork": undefined, "formats": undefined, "id": "629609937", "platform": "元力KW", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "元力KG", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG", "bilibili"], "plugin": "bilibili", "remainingTimeMs": 14118, "target": {"$": undefined, "album": "", "albumId": "0", "artist": "毛不易", "artistId": "0", "artwork": undefined, "formats": undefined, "id": "629609937", "platform": "元力KW", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "bilibili", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG", "bilibili", "网易音乐"], "plugin": "网易音乐", "remainingTimeMs": 13309, "target": {"$": undefined, "album": "", "albumId": "0", "artist": "毛不易", "artistId": "0", "artwork": undefined, "formats": undefined, "id": "629609937", "platform": "元力KW", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "网易音乐", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG", "bilibili", "网易音乐", "WebDAV"], "plugin": "WebDAV", "remainingTimeMs": 12779, "target": {"$": undefined, "album": "", "albumId": "0", "artist": "毛不易", "artistId": "0", "artwork": undefined, "formats": undefined, "id": "629609937", "platform": "元力KW", "title": "平凡的一天"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "WebDAV", "resultCount": 0}
 LOG  音源为空，播放失败 undefined
 LOG  开始搜索 {"_platform": "元力KW", "page": 1, "query": "平凡的一天", "searchType": "album"}
 LOG  播放 插件播放
 LOG  获取音源成功 {"$": undefined, "album": "平凡的一天", "albumId": 39483040, "artist": "毛不易", "artistId": "12138269", "artwork": "http://p1.music.126.net/vmCcDvD1H04e9gm97xsCqg==/109951163350929740.jpg", "duration": 276773, "headers": undefined, "id": "569214247", "platform": "网易音乐", "qualities": {"high": {"size": 28219262}, "low": {"size": 4429575}, "standard": {"size": 11073872}}, "rawLrc": undefined, "rid": undefined, "title": "平凡的一天", "type": "0", "url": "http://m801.music.126.net/20261015172928/5ef8a9c00d663857a2b1295e43a0f506/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/28481679775/0779/9099/d6f2/575c0e071df65029283ded4acbf69188.mp3", "userAgent": undefined, "vid": 5952085}
 换源候选列表 {"candidates": ["元力QQ", "元力KG", "bilibili", "网易音乐", "WebDAV", "爱听", "好听轻音乐", "6yueting", "小枸音乐", "5sing", "小秋音乐", "元力MG", "小蜗音乐", "酷狗", "元力WY", "快手", "udio", "猫耳FM"], "target": {"$": undefined, "album": "歌手·当打之年 第2期", "albumId": "12778603", "artist": "毛不易", "artistId": "1456705", "artwork": "https://img4.kuwo.cn/star/albumcover/1080/56/4/3661828824.jpg", "formats": undefined, "id": "90715998", "platform": "元力KW", "title": "一荤一素"}}
 LOG  尝试换源候选 {"attempted": ["元力QQ"], "plugin": "元力QQ", "remainingTimeMs": 14991, "target": {"$": undefined, "album": "歌手·当打之年 第2期", "albumId": "12778603", "artist": "毛不易", "artistId": "1456705", "artwork": "https://img4.kuwo.cn/star/albumcover/1080/56/4/3661828824.jpg", "formats": undefined, "id": "90715998", "platform": "元力KW", "title": "一荤一素"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "元力QQ", "resultCount": 0}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG"], "plugin": "元力KG", "remainingTimeMs": 14548, "target": {"$": undefined, "album": "歌手·当打之年 第2期", "albumId": "12778603", "artist": "毛不易", "artistId": "1456705", "artwork": "https://img4.kuwo.cn/star/albumcover/1080/56/4/3661828824.jpg", "formats": undefined, "id": "90715998", "platform": "元力KW", "title": "一荤一素"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "元力KG", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG", "bilibili"], "plugin": "bilibili", "remainingTimeMs": 13976, "target": {"$": undefined, "album": "歌手·当打之年 第2期", "albumId": "12778603", "artist": "毛不易", "artistId": "1456705", "artwork": "https://img4.kuwo.cn/star/albumcover/1080/56/4/3661828824.jpg", "formats": undefined, "id": "90715998", "platform": "元力KW", "title": "一荤一素"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "bilibili", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG", "bilibili", "网易音乐"], "plugin": "网易音乐", "remainingTimeMs": 13155, "target": {"$": undefined, "album": "歌手·当打之年 第2期", "albumId": "12778603", "artist": "毛不易", "artistId": "1456705", "artwork": "https://img4.kuwo.cn/star/albumcover/1080/56/4/3661828824.jpg", "formats": undefined, "id": "90715998", "platform": "元力KW", "title": "一荤一素"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "网易音乐", "resultCount": 20}
 LOG  尝试换源候选 {"attempted": ["元力QQ", "元力KG", "bilibili", "网易音乐", "WebDAV"], "plugin": "WebDAV", "remainingTimeMs": 12619, "target": {"$": undefined, "album": "歌手·当打之年 第2期", "albumId": "12778603", "artist": "毛不易", "artistId": "1456705", "artwork": "https://img4.kuwo.cn/star/albumcover/1080/56/4/3661828824.jpg", "formats": undefined, "id": "90715998", "platform": "元力KW", "title": "一荤一素"}}
 LOG  换源候选搜索完成 {"matchedCount": 0, "plugin": "WebDAV", "resultCount": 0}
 LOG  音源为空，播放失败 undefined
 LOG  播放 插件播放
 LOG  获取音源成功 {"$": undefined, "album": "平凡的一天", "albumId": 39483040, "artist": "毛不易", "artistId": "12138269", "artwork": "http://p2.music.126.net/vmCcDvD1H04e9gm97xsCqg==/109951163350929740.jpg", "duration": 281346, "headers": undefined, "id": "569200212", "platform": "网易音乐", "qualities": {"high": {"size": 24489373}, "low": {"size": 4502718}, "standard": {"size": 11256729}}, "rawLrc": undefined, "rid": undefined, "title": "一荤一素", "type": "0", "url": "http://m701.music.126.net/20261015173600/fdb5a4d2f93af24e3967ef8b546e8b3e/jdymusic/obj/wo3DlMOGwrbDjj7DisKw/28481678300/7f33/ef19/865a/63ff0320b7cc218917326302da074093.mp3", "userAgent": undefined, "vid": 10818030}